<html>
    <body>
        <% for(let i= 0; i < movies.length;i++) {%>
            <section>
                <a href="">
                <article>
                    <h2> <%=movies[i].title %> </h2>
                
                    <h3>rating: <%=movies[i].rating %> </h3>

                </br>
                </article>
            </section>
        <% } %>
    </body>

</html>