<html>
    <%- include('./partials/header'); %>
    <body>
        <% if(locals.userLogged && userLogged.rol != 0){ %>
            <div>
                <a href="/movies/create">CREATE</a>
            </div>
            <br/>
        <% } %>
        <% for(let i= 0; i < movies.length;i++) {%>
            <section>
                <a href="/movies/<%=movies[i].id %>">
                <article>
                    <h2> <%=movies[i].title %> </h2>
                
                    <h3>rating: <%=movies[i].rating %> </h3>

                </br>
                </article>
            </section>
        <% } %>
    </body>

</html>