<html>
    <head>
        <meta charset="UTF-8">
       <title>Login</title>
    </head> 
    <body>
        <form action="/users/login" method="POST">
            <label>Email:</label>
            <input type="email" name="email" placeholder="Introduzca su e-mail">
            <label>Contraseña:</label>
            <input type="password" name="password">
        </form>
    </body>
</html>