<label for="nombre">Nombre:</label>
<html>
    <head>
        <meta charset="UTF-8">
       <title>Register</title>
    </head> 
    <body>
        <form action="/users/register" method="POST">
            <label>Nombre:</label>
            <input type="text" name="name" placeholder="Introduzca su nombre">
            <label>Email:</label>
            <input type="email" name="email" placeholder="Introduzca su e-mail">
            <label>Contraseña:</label>
            <input type="password" name="password">
            <label>Confirme su contraseña:</label>
            <input type="password" name="password2">
    </form>
    </body>
</html>

